body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img,input{
    vertical-align: top;
    border: none;
    outline: none;
    padding: 0;
}
.w{
    width: 75.5%;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix{
    zoom: 1;
}
