* {
  margin: 0;
  padding: 0;
}
.nav_top {
  width: 100%;
  height: 52px;
  background-color: #211c1c;
}
.t_w {
  margin-top: 45px;
  margin-bottom: 30px;
}
.t_nav {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  padding-bottom: 20px;
}
.t_nav h1 {
  font-weight: normal;
  float: left;
  color: #000;
}
.t_nav ul {
  float: right;
  margin-right: 5px;
}
.t_nav li a {
  font-size: 13px;
  color: #333;
}
.t_nav li {
  float: left;
  margin-left: 20px;
  padding-top: 10px;
}
.t_nav li a:hover {
  color: red;
}
.wh {
  overflow: hidden;
}
.wh .all {
  width: 671px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 22px;
}
.wh .all h2 {
  font-weight: normal;
  font-size: 30px;
  height: 36px;
  line-height: 36px;
  margin-bottom: 67px;
}
.wh .all p {
  margin-top: 22px;
  margin-bottom: 22px;
  color: #666;
  font-size: smaller;
  line-height: 20px;
}
.wh .all select {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
}
.wh .all img {
  display: block;
  width: 100%;
  height: 392px;
  margin-top: 22px;
}
.one {
  color: #666;
  font-size: smaller;
}
.main {
  background-color: #333;
  overflow: hidden;
  margin-top: 50px;
}
.main .here {
  padding: 0 20px 0 20px;
}
.wf {
  margin-top: 30px;
  overflow: hidden;
}
.here {
  overflow: hidden;
  border-bottom: 1px solid #4d4d4d;
}
.l {
  width: 646px;
  height: 56px;
  margin-right: 24px;
  float: left;
  line-height: 56px;
}
.l a {
  color: #ccc;
  font-size: smaller;
}
.l a:nth-child(2) {
  margin-left: 150px;
}
.r {
  width: 310px;
  height: 230px;
  padding: 18px 0 20px 0;
  border-left: 1px solid #4d4d4d;
  float: right;
}
.r_l {
  padding: 0 19px 0 19px;
  float: left;
}
.r_l a {
  color: #ccc;
  font-size: smaller;
}
.xia {
  margin-top: 25px;
}
.r_r {
  float: right;
}
.r_r a {
  color: #ccc;
  font-size: smaller;
}
.w_end {
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: 20px;
}
.end a {
  color: #ccc;
  font-size: 13px;
}
.end_e {
  border-left: 1px solid rgba(204, 204, 204, 0.5);
  padding-left: 8px;
  margin-left: 4px;
}
